:root {
  --bg-gray: #f8f7fa;
  --gray: #e7e7e7;
  --gray-light: #e7e6ed;
  --gray-dark: #646464;
  --gray-dark2: #919191;
  --white: #fff;
  --black: #000;
}

html {
  font-size: 100%;
  background-color: var(--bg-gray);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  padding: 0 2rem;
}
